
configuration.php
htaccess.txt
index.php
LICENSE.txt
README.txt
robots.txt
web.config.txt
tmp/
templates/
plugins/
modules/
media/
libraries/
layouts/
language/
images/
includes/
components/
administrator/
bin/
cache/
cli/
sitemap.xml

#ignore
!administrator/components/com_sitemapjen
!administrator/components/com_sitemapjen/*
!components/com_sitemapjen
!components/com_sitemapjen/*

/jexter/src_copy/
